.divTable
    {
        display:  table;
        width:auto;
        border-spacing:5px;
    }

    .divRow
    {
       display:table-row;
       width:auto;

    }

    .divCell
    {
        float:left;
        display:table-column;
        width:200px;

    }
	.story
	{
		width:1000px;
		float:left;
	}